.container01 {
  background-image: url(../../assets/falcon9/01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.titleFalcon9 {
  padding-top: 25%;
  font-size: 80px;
}
.falconDescription {
  padding: 3%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.falconDescriptionNumbers {
  display: flex;
  font-size: 90px;
  justify-content: center;
}

.falconDescriptiondata {
  font-size: 20px;
}

.container06 {
  background-image: url(../../assets/falcon9/02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.rocketContainer {
  align-items: center;
  padding: 400px 500px 0px 20px;
}

.carouselImg {
  width: auto;
  height: 1000px;
}

.container06-1 {
  background-image: url(../../assets/falcon9/08.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.merlinContainer {
  align-items: center;
  padding: 240px 800px 0px 20px;

  #widthTable {
    color: $table-color;
  }
}

.carrossel01 {
  background-image: url(../../assets/falcon9/03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.falcon9Container {
  align-items: center;
  padding: 240px 800px 0px 300px;

  #widthTable {
    color: $table-color;
  }
}

.carrossel02 {
  background-image: url(../../assets/falcon9/04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.carrossel03 {
  background-image: url(../../assets/falcon9/05.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.carrossel04 {
  background-image: url(../../assets/falcon9/06.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.carrossel05 {
  background-image: url(../../assets/falcon9/07.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 1440px) {
  .merlinContainer {
    padding: 140px 800px 0px 20px;
  }
  .falcon9Container {
    padding: 140px 800px 0px 100px;
  }
  .falconDescriptiondata {
    padding: 30px auto auto 100px;
  }
  .rocketContainer {
    padding: 150px 500px 0px 20px;
  }
}

@media (max-width: 1024px) {
  .merlinContainer {
    padding: 140px 600px 0px 20px;
  }
  .falcon9Container {
    padding: 140px 200px 0px 100px;
  }
  .falconDescriptiondata {
    padding: 30px auto auto 100px;
  }
}

@media (max-width: 1180px) {
  .titleFalcon9 {
    padding-top: 15%;
    font-size: 80px;
  }

  .rocketContainer {
    padding: 150px 500px 0px 20px;
  }

  .falcon9Container {
    padding: 20px 600px 400px 120px;
  }
  .merlinContainer {
    padding: 20px 600px 0px 20px;
  }
}
@media (max-width: 768px) {
  .container01,
  .container06,
  .container06-1 {
    background-position: center;
  }
  .carrossel01,
  .carrossel02,
  .carrossel03,
  .carrossel04,
  .carrossel05 {
    background-position: center;
  }
  .container11 {
    background-position: center;
  }
  .rocketContainer,
  .falcon9Container,
  .merlinContainer {
    padding: 200px 250px 0px 20px;
  }
  .downloadContainer {
    padding-top: 10px;
  }
}

@media (max-width: 425px) {
  .container01,
  .container06,
  .container06-1 {
    background-position: center;
  }
  .carrossel01,
  .carrossel02,
  .carrossel03,
  .carrossel04,
  .carrossel05 {
    background-position: center;
  }
  .container11 {
    background-position: center;
  }
  .titleFalcon9 {
    margin-top: 150px;
  }
  .rocketContainer,
  .falcon9Container,
  .merlinContainer {
    padding: 200px 30px 0px 20px;
  }
  .downloadContainer {
    padding-top: 10px;
  }
}

@media (max-width: 375px) {
  .titleFalcon9 {
    margin-top: 150px;
    font-size: 59px;
  }
  .subTitleFalcon {
    font-size: 25px;
  }
  .rocketContainer {
    padding: 150px 30px 0px 20px;
  }
  .falcon9Container,
  .merlinContainer {
    padding: 80px 30px 0px 20px;
  }

  .downloadContainer {
    padding-top: 10px;
  }
}
